<nav id= "nav-bar" class="navbar bg-transparent navbar-expand-sm d-flex fixed-top justify-content-center row">
    <div class="container col">      
        <a class="navbar-brand text-center row" href="#">
          <img src="https://i.ibb.co/5s7q4L7/Background.png" alt="UFO Logo" width="80" height="80">
          <div class="row m-3 p-1">              
            <p class="m-1"> Unknown </p> <p class="m-1"> Freak </p> <p class="m-1"> Obscure </p>
          </div>
        </a>     
      </div>    
      <div class="container text-center p-1 col">
        <a class="navbar-brand m-3" href="store">Tienda</a>|
        <a class="navbar-brand m-3" href="blog">Blog</a>|
        <a class="navbar-brand m-3" href="about">Nosotros</a>|
        <a class="navbar-brand m-3" href="contact">Contáctanos</a>|
        <a class="navbar-brand m-3" href="ufo">UFO</a>         
      </div>
      <div>
        <form class="d-flex m-3 col">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-dark ml-2" type="submit">Buscar</button>
        </form>
      </div>
      
  </nav>